<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Words</key>
	<array>
		<string>STATION</string>
		<string>CRAZY</string>
		<string>KEYS</string>
		<string>TRAIN</string>
		<string>DARE</string>
		<string>DEVIL</string>
		<string>SADDLE</string>
		<string>TWIST</string>
		<string>HORSE</string>
		<string>LIMBO</string>
		<string>NEWSPAPER</string>
		<string>TRUMPET</string>
		<string>VIOLIN</string>
		<string>BOARD</string>
		<string>DARTH</string>
		<string>VADER</string>
		<string>PIED</string>
		<string>PIPER</string>
		<string>POPSICKLE</string>
		<string>SALUTE</string>
		<string>PUPPET</string>
		<string>BICYCLE</string>
		<string>LIPSTICK</string>
		<string>PENGUIN</string>
		<string>QUICKSAND</string>
		<string>PRESIDENT</string>
		<string>ERASER</string>
		<string>MIRROR</string>
		<string>SWORDFISH</string>
		<string>CRAMP</string>
		<string>LOBSTER</string>
		<string>CHAIR</string>
		<string>SOFA</string>
		<string>MUSIC</string>
		<string>CARS</string>
		<string>GUIDE</string>
		<string>GALAXY</string>
		<string>HITCH</string>
		<string>TELEVISION</string>
		<string>SKATE</string>
		<string>GUITAR</string>
		<string>SPEAKER</string>
	</array>
</dict>
</plist>
